body{ /*Body siempre al principio*/
    background-color: lightblue;
}
.titlered{ /*Segundo*/
    color: red;
}

.parrafop{/*Tercero*/
    color:green;
}

.Imglorem {/*Cuarto*/
    width: 400px;
    height: 300px;
    align-items: center;
    margin: auto;
}



